@font-face {
    font-family:"Cruinn";
    src: url(fonts/Cruinn/CruinnBlack.ttf);
}



.header_info_wrap
{
    background-color: #B43065 ;
}


#logo_imaga
{
    padding-left: 0px;
}

.header_info, .header_info a
{
    color:white;
    font-size:25px;
    font-family: "Cruinn";
    text-decoration: none;
}


.logo_image
{
    padding-left: 0px;
    margin-right: 50px;
}
.header_integration
{
    margin: 0px 26px 0px 17px;
    background: none;
    border: none;
}

@media (min-width:662px) and (max-width:1070px)
{
    .header_info, .header_info a
    {
        font-size: 20px;
    }
}