@font-face {
    font-family:"Cruinn";
    src: url(fonts/Cruinn/CruinnBlack.ttf);
}



.header_info_wrap
{
    background-color: #B43065 ;
}


.header_info, .header_info a
{
    color:white;
    font-size:30px;
    font-family: "Cruinn";
    text-decoration: none;
}


.logo_image
{
    padding-left: 0px;
    margin-right: 50px;
}
.header_integration
{
    margin: 0px 26px 0px 17px;
    background: none;
    border: none;
}

.rows
{
}